@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 320px;
  font-family: 'Raleway', sans-serif;
  background: rgb(34, 34, 34)
    radial-gradient(circle, rgba(34, 34, 34, 1) 18%, rgba(0, 0, 0, 1) 80%);
}

.size-box {
  @apply px-5 py-5 w-full text-gray-400 2xl:max-w-[1500px];
}

.section-center {
  @apply flex flex-col items-center justify-center
}

.item {
  @apply cursor-pointer hover:text-gray-200 hover:scale-105 px-5;
}

.burger-menu {
  @apply flex flex-col justify-center items-center absolute md:hidden right-0 w-3/5 h-1/2 bg-gradient-to-b from-gray-900 to-black text-gray-100;
}

.name-of-developer {
  @apply text-7xl sm:text-8xl md:text-9xl text-white text-center mt-0 font-black shadow-gray-900 py-2;
}
